body {
	font-family: 'Noto Sans';
	position: relative;
	font-size: 16px;
}

.container {
	max-width: 1200px;
	margin: 0 auto;
}

.background-image-fixed {
	position: fixed;
	z-index: -999;
	top: 0;
	left: 0;
	right: 0;
	width: 100%
}
.background-image {
	width: 84%;
	position: absolute;
	top: 0;
	z-index: -997;
	left: 8%;
	right: 8%;
}

header {
	padding: 30px 0;
	@include display-flex;
	@include justify-content(space-between);
	@include align-items(flex-start);
}

.logo {
	width: 130px;
	cursor: pointer;
}

.main-menu {
	margin: 0;
	li {
		color: $white;
		display: inline-block;
		margin-right: 15px;
		transition: 1s transform ease;
		&:last-of-type { margin-right: 0; }
	}

	li a {
		text-transform: uppercase;
		font-weight: 600;
		font-size: 1.3em;
		transition: all .3s;
	}
	li:hover { transform: rotateY(-360deg); }
}

.cover {
	min-height: 400px;
	height: 63vh;
	@include display-flex;
	@include align-items(flex-end);
}

.group-band {
	margin: 0;
	margin-bottom: 50px;
}

.group-band span:first-of-type {
	font-style: italic;
	font-size: 4.3em;
	color: $white;
	font-weight: 700;
	display: block;
	margin-bottom: 20px;
}
.group-band span:last-of-type {
	font-family: 'Oswald';
	color: $white;
	text-transform: uppercase;
	font-weight: 400;
	letter-spacing: 1px;
}

.main-features {
	position: relative;
	background-color: $pink;
	color: $white;
	padding-bottom: 30px;
}

.container-news {
	display: flex;
	font-size: 1.1em;
	padding: 10px 20px;
	.each-new {
		flex-basis: 28%;
		position: relative;
		border-right: 1px solid $white;
		margin-left: 10px;
		&:last-of-type { border-right: none; }
		.icon-wrapper {
			display: inline-block;
			position: absolute;
			top: 0;
			right: 0;
		}
		.new-description {
			padding-top: 20px;
		}
		.new {
			position: absolute;
			text-transform: uppercase;
			top: 50%;
			left: 50%;
			transform: translate(-50%, -50%);
			font-family: 'Oswald';
			font-weight: 400;
			font-size: .8em;
		}
		i.fa-spin {
			animation: fa-spin 4s infinite linear;
			font-size: 2.5em;
		}
		.date {
			font-family: 'Oswald';
			font-weight: 400;
		}
	}
	.feature {
		display: block;
		text-transform: uppercase;
		margin-top: 5px;
		font-weight: 500;
		font-size: .9em;
	}
	.container-button {
		@include flex-basis(16%);
		@include align-self(flex-end);
		margin-left: 20px;
	}
}

@include keyframes(fa-spin) {
	0% { transform: scale(1) rotate(0deg); }
	50% { transform: scale(1.2) rotate(180deg); }
	100% { transform: scale(1) rotate(360deg); }
}

.button {
			text-transform: uppercase;
			width: 80%;
			font-family: 'Oswald';
			border-radius: 25px;
			padding: 10px;
			transition: all .3s;
			box-shadow: 10px 17px 20px rgba($black, .25);
			display: flex;
			justify-content: center;
			background: linear-gradient(to right, lighten($pink, 8%), $pink,  darken($pink, 2%));
			border: 0;
			cursor: pointer;
			&:hover {
				width: 90%;
				box-shadow: 2px 8px 4px -6px rgba($black, .4);
			}
		}
i.arrow {
	margin: 0;
	vertical-align: bottom;
	margin-left: 5px;
	line-height: 26px;
}
i.new-animation { color: $black; }
.headline {
	font-size: 5em;
	text-transform: uppercase;
	font-style: italic;
	margin-top: 80px;
	display: flex;
	justify-content: center;
	letter-spacing: 4px;
	font-weight: 700;
}
.last-info {
	border: 7px solid $white;
	width: 70%;
	padding: 200px 50px 50px 50px;
	margin: 200px auto 100px auto;
	position: relative;
	.date {
		font-family: 'Oswald';
		text-transform: uppercase;
		display: flex;
		justify-content: center;
		font-weight: 400;
		letter-spacing: 3px;
	}
	h2 {
		display: flex;
		justify-content: center;
		font-size: 2.5em;
		font-weight: 400;
		margin-top: 25px;
	}
	h3 {
		display: flex;
		justify-content: center;
		font-size: 1.5em;
		font-weight: 400;
		margin-top: 10px;
	}
	.price {
		display: flex;
		justify-content: center;
		font-weight: 300;
		margin-top: 25px;
		font-size: .7em;
		&:last-of-type { margin-top: 6px;}
	}
	.button {
		margin-top: 30px;
		width: 20%;
		&:hover { width: 25%; }
	}
}
.container-last-info {
	border-bottom: 1px solid rgba($white, .2);
	padding: 20px;
}
img.head-image {
	width: 360px;
	position: absolute;
	transition: all .5s;
	box-shadow: 10px 17px 20px rgba($black, .25);
	&:hover {
		box-shadow: 2px 8px 4px -6px rgba($black, .4);
		width: 350px;
	}
}
img.head-image.left {
	top: -150px;
	left: 60px;
}
img.head-image.right {
	top: -150px;
	right: 60px;
}
p.topic {
		text-transform: uppercase;
		font-size: 3em;
		display: flex;
		justify-content: center;
		font-style: italic;
		font-weight: 700;
		letter-spacing: 3px;
	}
.container-disc {
	width: 82%;
	margin: 50px auto;
	padding: 0;
	.container-music {
		padding: 20px 0;
		line-height: 26px;
	}
	.disc-info {
		display: inline-block;
		margin: 5px 0;
		padding: 0;
		background-color: $white;
		margin: 1px solid $black;
		transition: all .4s;
		img {
			width: 230px;
			margin: 0 auto;
			@include display-flex;
		}
		.title-disc {
			color: $black;
			display: flex;
			justify-content: center;
			text-align: center;
			font-weight: 400;
			font-size: 1.1em;
		}
		.name-artist {
			color: $gray-dark;
			font-weight: 400;
			display: flex;
			justify-content: center;
			font-size: .9em;
		}
		.date-disc {
			color: $gray-light;
			font-family: 'Oswald';
			text-transform: uppercase;
			display: flex;
			justify-content: center;
		}
		&:hover {
			transform: scale(1.2);
		}
	}
}
.button.disc {
	width: 15%;
	margin-bottom: 30px;
	&:hover {
		width: 18%;
	}
}
.members {
	padding: 50px;
	p {
		text-align: center;
		color: $white;
		font-size: 3em;
		font-style: italic;
		font-weight: 400;
		letter-spacing: 2px;
	}
}
footer {
	background-color: $black;
	padding: 30px;
}
.container-social-networking {
	width: 50%;
	margin: 0 auto;
}
.button-redsocial {
	width: 40%;
	border: 0;
	padding: 10px;
	display: inline-block;
	text-transform: uppercase;
	color: $white;
	font-family: 'Oswald';
	letter-spacing: 1px;
	cursor: pointer;
	margin: 0 auto;
}
.button-redsocial.twitter {
		background-color: $cyan;
	}
.button-redsocial.facebook {
	background-color: $blue;
}
.button-company {
	width: 40%;
	display: block;
	padding: 10px;
	border-radius: 15px;
	background: linear-gradient(to right, $yellow, $yellow-dark);
	border: none;
	cursor: pointer;
	letter-spacing: 2px;
	font-weight: 400;
	color: $white;
	margin-top: 20px;
}
.container-button-redsocial {
	margin: 0 auto;
}
i.fa-twitter {
	margin-right: 10px;
}
i.fa-facebook {
	margin-right: 10px;
}