body {
	font-family: 'Noto Sans';
	position: relative;
	font-size: 18px;
}
.background-image-fixed {
	position: fixed;
	z-index: -999;
	top: 0;
	left: 0;
	right: 0;
	width: 100%
}
.background-image {
	width: 76%;
	position: absolute;
	top: 0;	
	z-index: -997;
	left: 12%;
	right: 12%;
}
header {
	padding: 30px 20px;
	display: flex;
	justify-content: space-between;
	align-items: flex-start;
}
.logo {
	width: 110px;
	cursor: pointer;
}
.main-menu {
	margin: 0;
}
.main-menu ul li {
	display: inline;
	margin-right: 10px;
	color: $white;
}
.main-menu ul li a {
	text-transform: uppercase;
	font-weight: 700;
	font-size: 1.3em;
	transition: all .3s;
	&:hover {
	font-size: 1.6em;

	}
}
.group-band {
	padding: 30px;
	margin: 0;
}
.group-band span:first-of-type {
	font-style: italic;
	font-size: 4.3em;
	color: $white;
	position: relative;
	font-weight: 700;
	display: block;
	margin-top: 200px;
	margin-bottom: 20px;
}
.group-band span:last-of-type {
	font-family: 'Oswald';
	color: $white;
	text-transform: uppercase;
	font-weight: 400;
	letter-spacing: 1px;
}
.main-features {
	position: relative;
	background-color: $pink;
	color: $white;
}
.container-news {
	display: flex;
	padding: 10px;
	font-size: 1.1em;
	.each-new {
		flex-basis: 29%;
		position: relative;
		border-right: 1px solid $white;
		margin-left: 10px;
		&:last-of-type {
		border-right: none;
		}
		.new {
			position: absolute;
			text-transform: uppercase;
			top: 13px;
			right: 19px;
			font-family: 'Oswald';
			font-weight: 400;
		}
		.date {
			font-family: 'Oswald';
			font-weight: 400;
		}
	}
	.feature {
		display: block;
		text-transform: uppercase;
		margin-top: 5px;
	}
	.container-button {
		flex-basis: 13%;
		.button {
			text-transform: uppercase;
			width: 80%;
			font-family: 'Oswald';
			border-radius: 25px;
			padding: 10px;
			transition: all .3s;
			box-shadow: 0 15px 60px $gray-medium;
			display: flex;
			justify-content: center;
			background: linear-gradient(to right, $pink, $white);
			border: 0;
			&:hover {
				width: 90%;
				box-shadow: 0 5px 20px $gray-medium;
			}
		}
	}
	
}
i.new-animation {
	color: $black;
	position: absolute;
	top: 0;
	right: 0;
}
.headline {
	font-size: 4em;
	text-transform: uppercase;
	font-style: italic;
	margin-top: 80px;
	display: flex;
	justify-content: center;
	letter-spacing: 4xpx;
	font-weight: 700;
}
.last-info {
	border: 6px solid $white;
	width: 50%;
	padding: 10px;
	margin: 0 auto;
}
.head-image {
	width: 200px;
	height: 180px;
}