* {
  font-weight: 300;
  margin: 0 auto;
  padding: 0;
  font-family: 'Roboto', sans-serif;
  font-size: 16px; }

html, body, div, span, a, img, h1, h2, p, ul, li {
  background: transparent;
  border: 0;
  font-size: 100%;
  font-style: normal;
  font-weight: 300;
  line-height: inherit;
  list-style: none;
  margin: 0;
  outline: 0;
  padding: 0;
  text-decoration: none;
  text-transform: none;
  vertical-align: baseline; }

*, *:after, *:before {
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
  -webkit-tap-highlight-color: transparent;
  -webkit-touch-callout: none; }

svg:not(:root) {
  overflow: hidden; }

a[href^=tel] {
  color: inherit;
  text-decoration: none; }

input:-webkit-autofill,
input:-webkit-autofill:hover,
input:-webkit-autofill:focus,
input:-webkit-autofill:active {
  transition: background-color 5000s ease-in-out 0s; }

input {
  -webkit-user-select: auto; }

img {
  -ms-interpolation-mode: bicubic; }

:link, :hover, :active, :focus, :visited {
  outline: 0; }

::-webkit-selection {
  background: #ccc;
  color: white; }

::-moz-selection {
  background: #ccc;
  color: white; }

::selection {
  background: #ccc;
  color: white; }

textarea,
input[type="text"],
input[type="number"],
input[type="email"] {
  -webkit-appearance: none; }

a, button, input {
  color: inherit;
  font: inherit; }

body {
  font-family: 'Noto Sans';
  position: relative;
  font-size: 16px; }

.container {
  max-width: 1200px;
  margin: 0 auto; }

.background-image-fixed {
  position: fixed;
  z-index: -999;
  top: 0;
  left: 0;
  right: 0;
  width: 100%; }

.background-image {
  width: 84%;
  position: absolute;
  top: 0;
  z-index: -997;
  left: 8%;
  right: 8%; }

header {
  padding: 30px 0;
  display: -webkit-flex;
  display: -webkit-box;
  display: -moz-flex;
  display: -moz-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
  -ms-flex-pack: justify;
  -webkit-justify-content: space-between;
  -moz-justify-content: space-between;
  justify-content: space-between;
  -webkit-box-align: start;
  -ms-flex-align: start;
  -webkit-align-items: flex-start;
  -moz-align-items: flex-start;
  align-items: flex-start; }

.logo {
  width: 130px;
  cursor: pointer; }

.main-menu {
  margin: 0; }
  .main-menu li {
    color: #FFF;
    display: inline-block;
    margin-right: 15px;
    transition: 1s transform ease; }
    .main-menu li:last-of-type {
      margin-right: 0; }
  .main-menu li a {
    text-transform: uppercase;
    font-weight: 600;
    font-size: 1.3em;
    transition: all .3s; }
  .main-menu li:hover {
    transform: rotateY(-360deg); }

.cover {
  min-height: 400px;
  height: 63vh;
  display: -webkit-flex;
  display: -webkit-box;
  display: -moz-flex;
  display: -moz-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: end;
  -ms-flex-align: end;
  -webkit-align-items: flex-end;
  -moz-align-items: flex-end;
  align-items: flex-end; }

.group-band {
  margin: 0;
  margin-bottom: 50px; }

.group-band span:first-of-type {
  font-style: italic;
  font-size: 4.3em;
  color: #FFF;
  font-weight: 700;
  display: block;
  margin-bottom: 20px; }

.group-band span:last-of-type {
  font-family: 'Oswald';
  color: #FFF;
  text-transform: uppercase;
  font-weight: 400;
  letter-spacing: 1px; }

.main-features {
  position: relative;
  background-color: #FFA0C0;
  color: #FFF; }

.container-news {
  display: flex;
  font-size: 1.1em;
  padding: 10px 20px; }
  .container-news .each-new {
    flex-basis: 28%;
    position: relative;
    border-right: 1px solid #FFF;
    margin-left: 10px; }
    .container-news .each-new:last-of-type {
      border-right: none; }
    .container-news .each-new .icon-wrapper {
      display: inline-block;
      position: absolute;
      top: 0;
      right: 0; }
    .container-news .each-new .new-description {
      padding-top: 20px; }
    .container-news .each-new .new {
      position: absolute;
      text-transform: uppercase;
      top: 50%;
      left: 50%;
      transform: translate(-50%, -50%);
      font-family: 'Oswald';
      font-weight: 400;
      font-size: .8em; }
    .container-news .each-new i.fa-spin {
      animation: fa-spin 4s infinite linear;
      font-size: 2.5em; }
    .container-news .each-new .date {
      font-family: 'Oswald';
      font-weight: 400; }
  .container-news .feature {
    display: block;
    text-transform: uppercase;
    margin-top: 5px;
    font-weight: 500;
    font-size: .9em; }
  .container-news .container-button {
    -webkit-flex-basis: 16%;
    -moz-flex-basis: 16%;
    -ms-flex-preferred-size: 16%;
    flex-basis: 16%;
    -webkit-align-self: flex-end;
    -moz-align-self: flex-end;
    -ms-flex-item-align: end;
    align-self: flex-end;
    margin-left: 20px; }

@-webkit-keyframes fa-spin {
  0% {
    transform: scale(1) rotate(0deg); }
  50% {
    transform: scale(1.2) rotate(180deg); }
  100% {
    transform: scale(1) rotate(360deg); } }
@-moz-keyframes fa-spin {
  0% {
    transform: scale(1) rotate(0deg); }
  50% {
    transform: scale(1.2) rotate(180deg); }
  100% {
    transform: scale(1) rotate(360deg); } }
@-ms-keyframes fa-spin {
  0% {
    transform: scale(1) rotate(0deg); }
  50% {
    transform: scale(1.2) rotate(180deg); }
  100% {
    transform: scale(1) rotate(360deg); } }
@keyframes fa-spin {
  0% {
    transform: scale(1) rotate(0deg); }
  50% {
    transform: scale(1.2) rotate(180deg); }
  100% {
    transform: scale(1) rotate(360deg); } }
.button {
  text-transform: uppercase;
  width: 80%;
  font-family: 'Oswald';
  border-radius: 25px;
  padding: 10px;
  transition: all .3s;
  box-shadow: 10px 17px 20px rgba(0, 0, 0, 0.25);
  display: flex;
  justify-content: center;
  background: linear-gradient(to right, #ffc9db, #FFA0C0, #ff96b9);
  border: 0;
  cursor: pointer; }
  .button:hover {
    width: 90%;
    box-shadow: 2px 8px 4px -6px rgba(0, 0, 0, 0.4); }

i.arrow {
  margin: 0;
  vertical-align: bottom;
  margin-left: 5px;
  line-height: 26px; }

i.new-animation {
  color: #000; }

.headline {
  font-size: 5em;
  text-transform: uppercase;
  font-style: italic;
  margin-top: 80px;
  display: flex;
  justify-content: center;
  letter-spacing: 4px;
  font-weight: 700; }

.last-info {
  border: 7px solid #FFF;
  width: 70%;
  padding: 200px 50px 50px 50px;
  margin: 200px auto 100px auto;
  position: relative; }
  .last-info .date {
    font-family: 'Oswald';
    text-transform: uppercase;
    display: flex;
    justify-content: center;
    font-weight: 400;
    letter-spacing: 3px; }
  .last-info h2 {
    display: flex;
    justify-content: center;
    font-size: 2.5em;
    font-weight: 400;
    margin-top: 25px; }
  .last-info h3 {
    display: flex;
    justify-content: center;
    font-size: 1.5em;
    font-weight: 400;
    margin-top: 10px; }
  .last-info .price {
    display: flex;
    justify-content: center;
    font-weight: 300;
    margin-top: 25px;
    font-size: .7em; }
    .last-info .price:last-of-type {
      margin-top: 6px; }
  .last-info .button {
    margin-top: 30px;
    width: 20%; }
    .last-info .button:hover {
      width: 25%; }

.container-last-info {
  border-bottom: 1px solid rgba(255, 255, 255, 0.2);
  padding: 20px; }

img.head-image {
  width: 360px;
  position: absolute;
  transition: all .5s;
  box-shadow: 10px 17px 20px rgba(0, 0, 0, 0.25); }
  img.head-image:hover {
    box-shadow: 2px 8px 4px -6px rgba(0, 0, 0, 0.4);
    width: 350px; }

img.head-image.left {
  top: -150px;
  left: 60px; }

img.head-image.right {
  top: -150px;
  right: 60px; }

p.topic {
  text-transform: uppercase;
  font-size: 3em;
  display: flex;
  justify-content: center;
  font-style: italic;
  font-weight: 700;
  letter-spacing: 3px; }

.container-disc {
  width: 82%;
  margin: 50px auto;
  padding: 0; }
  .container-disc .container-music {
    padding: 15px 0; }
  .container-disc .disc-info {
    display: inline-block;
    margin: 5px 0;
    padding: 0;
    background-color: #FFF;
    margin: 1px solid #000; }
    .container-disc .disc-info img {
      width: 250px;
      margin: 0 auto;
      display: -webkit-flex;
      display: -webkit-box;
      display: -moz-flex;
      display: -moz-box;
      display: -ms-flexbox;
      display: flex; }
    .container-disc .disc-info .title-disc {
      color: #000;
      display: flex;
      justify-content: center;
      font-family: 'Oswald';
      text-align: center; }
    .container-disc .disc-info .name-artist {
      color: #202020;
      font-family: 'Oswald';
      font-weight: 400;
      display: flex;
      justify-content: center; }
    .container-disc .disc-info .date-disc {
      color: #474747;
      font-family: 'Oswald';
      text-transform: uppercase;
      display: flex;
      justify-content: center; }

.button.disc {
  width: 20%;
  margin-bottom: 30px; }

/*# sourceMappingURL=styles.css.map */
