* {
  font-weight: 300;
  margin: 0 auto;
  padding: 0;
  font-family: 'Roboto', sans-serif;
  font-size: 16px; }

html, body, div, span, a, img, h1, h2, p, ul, li {
  background: transparent;
  border: 0;
  font-size: 100%;
  font-style: normal;
  font-weight: 300;
  line-height: inherit;
  list-style: none;
  margin: 0;
  outline: 0;
  padding: 0;
  text-decoration: none;
  text-transform: none;
  vertical-align: baseline; }

*, *:after, *:before {
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
  -webkit-tap-highlight-color: transparent;
  -webkit-touch-callout: none; }

svg:not(:root) {
  overflow: hidden; }

a[href^=tel] {
  color: inherit;
  text-decoration: none; }

input:-webkit-autofill,
input:-webkit-autofill:hover,
input:-webkit-autofill:focus,
input:-webkit-autofill:active {
  transition: background-color 5000s ease-in-out 0s; }

input {
  -webkit-user-select: auto; }

img {
  -ms-interpolation-mode: bicubic; }

:link, :hover, :active, :focus, :visited {
  outline: 0; }

::-webkit-selection {
  background: #ccc;
  color: white; }

::-moz-selection {
  background: #ccc;
  color: white; }

::selection {
  background: #ccc;
  color: white; }

textarea,
input[type="text"],
input[type="number"],
input[type="email"] {
  -webkit-appearance: none; }

a, button, input {
  color: inherit;
  font: inherit; }

body {
  font-family: 'Noto Sans';
  position: relative;
  font-size: 18px; }

.background-image-fixed {
  position: fixed;
  z-index: -999;
  top: 0;
  left: 0;
  right: 0;
  width: 100%; }

.background-image {
  width: 76%;
  position: absolute;
  top: 0;
  z-index: -997;
  left: 12%;
  right: 12%; }

header {
  padding: 30px 20px;
  display: flex;
  justify-content: space-between;
  align-items: flex-start; }

.logo {
  width: 110px; }

.main-menu {
  margin: 0; }

.main-menu ul li {
  display: inline;
  margin-right: 10px;
  color: #FFF; }

.main-menu ul li a {
  text-transform: uppercase;
  font-weight: 700;
  font-size: 1.3em;
  transition: all .3s; }
  .main-menu ul li a:hover {
    font-size: 1.6em; }

.group-band {
  padding: 30px;
  margin: 0; }

.group-band span:first-of-type {
  font-style: italic;
  font-size: 4.3em;
  color: #FFF;
  position: relative;
  font-weight: 700;
  display: block;
  margin-top: 200px;
  margin-bottom: 20px; }

.group-band span:last-of-type {
  font-family: 'Oswald';
  color: #FFF;
  text-transform: uppercase;
  font-weight: 400;
  letter-spacing: 1px; }

.main-features {
  position: relative;
  background-color: #FFA0C0;
  color: #FFF; }

.container-news {
  display: flex;
  padding: 10px;
  font-size: 1.1em; }
  .container-news .each-new {
    flex-basis: 29%;
    position: relative; }
    .container-news .each-new .new {
      position: absolute;
      text-transform: uppercase;
      top: 13px;
      right: 19px;
      font-family: 'Oswald';
      font-weight: 400; }
    .container-news .each-new .date {
      font-family: 'Oswald';
      font-weight: 400; }
  .container-news .feature {
    display: block;
    text-transform: uppercase;
    margin-top: 5px; }
  .container-news .container-button {
    flex-basis: 13%; }
    .container-news .container-button .button {
      text-transform: uppercase;
      width: 80%;
      font-family: 'Oswald';
      border-radius: 25px;
      padding: 10px;
      transition: all .3s;
      box-shadow: 0 15px 60px #474747;
      display: flex;
      justify-content: center;
      background: linear-gradient(to right, #FFA0C0, #FFF);
      border: 0; }
      .container-news .container-button .button:hover {
        width: 100%;
        box-shadow: 0 5px 20px #474747; }

i.new-animation {
  color: #000;
  position: absolute;
  top: 0;
  right: 0; }

/*# sourceMappingURL=styles.css.map */
