$white: #FFF;
$purple: #D17BF7;
$black: #000;
$gray-dark: #202020;
$gray-medium: #474747;
$gray-light: #A5A5A5;
$cyan: #26A1EC;
$blue: #425998;
$pink: #FFA0C0;
$yellow: #E4C674;
$yellow-dark: #BF9D44;
