$white: #FFF;
$purple: #D17BF7;
$black: #000;
$gray-dark: #202020;
$gray-medium: #474747;
$gray-light: #A5A5A5;
$cyan: #26A1EC;
$blue: #425998;
$pink: #FFA0C0;
$yellow: #E4C674;
$yellow-dark: #BF9D44;

$bg-yellow: #F2C914;
$bg-green-lemon: #99D50F;
$bg-red: #E14343;
$bg-pink: #FFA0C0;
$bg-sky-blue: #34CBE8;
$bg-green: #16A163;
$bg-orange: #F28728;
$bg-purple: #D17BF7;
$bg-blue-purple: #5F69FF;

